<settings>
    <setting id="epgCache" value="true" />
    <setting id="epgPath" value="" />
    <setting id="epgPathType" value="0" />
    <setting id="epgTSOverride" value="false" />
    <setting id="epgTimeShift" value="0.000000" />
    <setting id="epgTimeShift_" value="12" />
    <setting id="epgUrl" value="http://iptv.seebo.com.au/IPTV/epg.xml" />
    <setting id="logoBaseUrl" value="" />
    <setting id="logoPath" value="/storage/.xbmc/media/tv/ip/" />
    <setting id="logoPathType" value="0" />
    <setting id="m3uCache" value="true" />
    <setting id="m3uPath" value="/storage/.xbmc/system/iptv/playlist.m3u" />
    <setting id="m3uPathType" value="0" />
    <setting id="m3uUrl" value="http://iptv.seebo.com.au/IPTV/playlist.m3u" />
    <setting id="sep1" value="" />
    <setting id="sep2" value="" />
    <setting id="sep3" value="" />
    <setting id="startNum" value="51" />
</settings>
