<?xml version="1.0" ?>
<settings>
<setting id="epgCache" value="false"/>
<setting id="epgPath" value=""/>
<setting id="epgPathType" value="1"/>
<setting id="epgTSOverride" value="false"/>
<setting id="epgTimeShift" value="0.000000"/>
<setting id="epgUrl" value="http://lilactv.com:8080/BadJin/EPG/epg2xml/KoreanEPG.xml"/>
<setting id="logoBaseUrl" value=""/>
<setting id="logoFromEpg" value="0"/>
<setting id="logoPath" value="/storage/.kodi/media/tv/iptv/ChannelLogos/"/>
<setting id="logoPathType" value="0"/>
<setting id="m3uCache" value="true"/>
<setting id="m3uPath" value="/storage/.kodi/media/tv/iptv/playlist-lilactvHD1.m3u"/>
<setting id="m3uPathType" value="0"/>
<setting id="m3uUrl" value=""/>
<setting id="sep1" value=""/>
<setting id="sep2" value=""/>
<setting id="sep3" value=""/>
<setting id="startNum" value="51"/>
</settings>
