<settings>
    <setting id="HEVC" value="true" />
    <setting id="addon_debug" value="false" />
    <setting id="api.language" value="AUTO" />
    <setting id="appearance.1" value="Tempest" />
    <setting id="appearance.alt" value="-" />
    <setting id="autoplay.sd" value="false" />
    <setting id="bookmarks" value="true" />
    <setting id="debrid.only" value="false" />
    <setting id="debug.location" value="0" />
    <setting id="downloads" value="false" />
    <setting id="fanart" value="true" />
    <setting id="fanart.tv.user" value="ZGIxMDYxOWM5N2FmODM4OTE2OTBmNGNmZDcyMDVkNjI=" />
    <setting id="flatten.tvshows" value="false" />
    <setting id="furk.api" value="" />
    <setting id="furk.limit" value="25" />
    <setting id="furk.mod.level" value="Yes" />
    <setting id="furk.user_name" value="" />
    <setting id="furk.user_pass" value="" />
    <setting id="hosts.captcha" value="false" />
    <setting id="hosts.mode" value="1" />
    <setting id="hosts.quality" value="1" />
    <setting id="hosts.sort.provider" value="false" />
    <setting id="imdb.user" value="" />
    <setting id="indicators" value="0" />
    <setting id="indicators.alt" value="1" />
    <setting id="library.check" value="true" />
    <setting id="library.check_episode" value="false" />
    <setting id="library.check_movie" value="false" />
    <setting id="library.importdelay" value="true" />
    <setting id="library.include_unknown" value="true" />
    <setting id="library.movie" value="special://userdata/addon_data/plugin.video.tempest/Movies" />
    <setting id="library.service.notification" value="true" />
    <setting id="library.service.update" value="true" />
    <setting id="library.tv" value="special://userdata/addon_data/plugin.video.tempest/TVShows" />
    <setting id="library.update" value="true" />
    <setting id="lists.widget" value="1" />
    <setting id="movie.download.path" value="" />
    <setting id="movie.widget" value="1" />
    <setting id="moviesearch" value="instant family&#x0A;hulk&#x0A;인크레더블 헐크&#x0A;" />
    <setting id="open_smu_settings" value="" />
    <setting id="ororo.pass" value="" />
    <setting id="ororo.user" value="" />
    <setting id="preemptive.limit" value="10" />
    <setting id="preemptive.termination" value="False" />
    <setting id="prem.identify" value="0" />
    <setting id="prgr.sortorder" value="1" />
    <setting id="progress.dialog" value="0" />
    <setting id="provider.0dayreleases" value="true" />
    <setting id="provider.111ys" value="false" />
    <setting id="provider.123123movies" value="true" />
    <setting id="provider.123moviehd" value="true" />
    <setting id="provider.123movies4u" value="true" />
    <setting id="provider.123movieshubz" value="true" />
    <setting id="provider.1337x" value="false" />
    <setting id="provider.1putlocker" value="true" />
    <setting id="provider.2ddl" value="true" />
    <setting id="provider.300mbdownload" value="true" />
    <setting id="provider.300mbfilms" value="true" />
    <setting id="provider.allucxyz" value="true" />
    <setting id="provider.animetoon" value="true" />
    <setting id="provider.bestmoviez" value="true" />
    <setting id="provider.cartoonhd" value="true" />
    <setting id="provider.cartoonwire" value="true" />
    <setting id="provider.cmovieshd" value="true" />
    <setting id="provider.cmovieshdbz" value="true" />
    <setting id="provider.d1dldrm" value="true" />
    <setting id="provider.ddlspot" value="true" />
    <setting id="provider.ddlvalley" value="true" />
    <setting id="provider.directdl" value="true" />
    <setting id="provider.dl12dlb3d" value="true" />
    <setting id="provider.dl20mihanpix" value="true" />
    <setting id="provider.dl2dlb3d" value="true" />
    <setting id="provider.dl2f2m" value="true" />
    <setting id="provider.dl2lavinmovie" value="true" />
    <setting id="provider.dl3dlb3d" value="true" />
    <setting id="provider.dl3f2m" value="true" />
    <setting id="provider.dl4dlb3d" value="true" />
    <setting id="provider.dl4download" value="true" />
    <setting id="provider.dl4lavinmovie" value="true" />
    <setting id="provider.dl5dlb3d" value="true" />
    <setting id="provider.dl5f2m" value="true" />
    <setting id="provider.dl5lavinmovie" value="true" />
    <setting id="provider.dl6dlb3d" value="true" />
    <setting id="provider.dl6f2m" value="true" />
    <setting id="provider.dl7dlb3d" value="true" />
    <setting id="provider.dl7f2m" value="true" />
    <setting id="provider.dl7lavinmovie" value="true" />
    <setting id="provider.dl8dlb3d" value="true" />
    <setting id="provider.dl8heyserver" value="true" />
    <setting id="provider.dl8lavinmovie" value="true" />
    <setting id="provider.dl9lavinmovie" value="true" />
    <setting id="provider.dldlb3d" value="true" />
    <setting id="provider.dlf2m" value="true" />
    <setting id="provider.dlfarshow" value="true" />
    <setting id="provider.dlfilm" value="true" />
    <setting id="provider.dlmeliupload" value="true" />
    <setting id="provider.dlmyfilm" value="true" />
    <setting id="provider.dlsitemovie" value="true" />
    <setting id="provider.dlsrvdl" value="true" />
    <setting id="provider.dlupdlf" value="true" />
    <setting id="provider.dlupload8" value="true" />
    <setting id="provider.eztv" value="false" />
    <setting id="provider.filmxy" value="true" />
    <setting id="provider.fmovies" value="true" />
    <setting id="provider.freefmovies" value="true" />
    <setting id="provider.furk" value="false" />
    <setting id="provider.ganool" value="true" />
    <setting id="provider.ganool123" value="true" />
    <setting id="provider.ganool123rd" value="true" />
    <setting id="provider.ganoolrd" value="true" />
    <setting id="provider.glodls" value="false" />
    <setting id="provider.gmovies" value="true" />
    <setting id="provider.gomoviesink" value="true" />
    <setting id="provider.gowatchseries" value="true" />
    <setting id="provider.hackimdb" value="true" />
    <setting id="provider.hdpopcorneu" value="true" />
    <setting id="provider.hdpopcorns" value="true" />
    <setting id="provider.iwaatch" value="true" />
    <setting id="provider.kattv" value="false" />
    <setting id="provider.kickass2" value="false" />
    <setting id="provider.lalbatte" value="true" />
    <setting id="provider.library" value="false" />
    <setting id="provider.limetorr" value="false" />
    <setting id="provider.magnetdl" value="false" />
    <setting id="provider.mihanpix" value="true" />
    <setting id="provider.mkvcage" value="false" />
    <setting id="provider.movie4kis" value="true" />
    <setting id="provider.movie4kto" value="true" />
    <setting id="provider.moviefullhd" value="true" />
    <setting id="provider.movieminions" value="true" />
    <setting id="provider.moviescouch" value="true" />
    <setting id="provider.moviesleak" value="true" />
    <setting id="provider.mvrls" value="true" />
    <setting id="provider.mycouchtuner" value="true" />
    <setting id="provider.myvideolinks" value="true" />
    <setting id="provider.ns5" value="true" />
    <setting id="provider.odb" value="true" />
    <setting id="provider.openloadmovie" value="true" />
    <setting id="provider.ororo" value="false" />
    <setting id="provider.piratebay" value="false" />
    <setting id="provider.projectfreetv" value="true" />
    <setting id="provider.pz10028" value="true" />
    <setting id="provider.pz10093" value="true" />
    <setting id="provider.rapidmoviez" value="true" />
    <setting id="provider.reddit" value="true" />
    <setting id="provider.rlsb" value="true" />
    <setting id="provider.rlsbb" value="true" />
    <setting id="provider.rlslog" value="true" />
    <setting id="provider.s16bitdl" value="true" />
    <setting id="provider.s19bitdl" value="true" />
    <setting id="provider.s1dlserver" value="true" />
    <setting id="provider.s1tinydl" value="true" />
    <setting id="provider.s2dlserver" value="true" />
    <setting id="provider.sceneddl" value="true" />
    <setting id="provider.scenerls" value="true" />
    <setting id="provider.scnsrc" value="true" />
    <setting id="provider.seehd" value="true" />
    <setting id="provider.series9" value="true" />
    <setting id="provider.seriesfree" value="true" />
    <setting id="provider.seriesonline" value="true" />
    <setting id="provider.skytorrents" value="false" />
    <setting id="provider.solarmoviez" value="true" />
    <setting id="provider.spacemov" value="true" />
    <setting id="provider.stgpz10139" value="true" />
    <setting id="provider.streamdreams" value="true" />
    <setting id="provider.swatchseries" value="true" />
    <setting id="provider.torrapi" value="false" />
    <setting id="provider.torrdown" value="false" />
    <setting id="provider.tvdownload" value="true" />
    <setting id="provider.twoddl" value="true" />
    <setting id="provider.ultrahd" value="true" />
    <setting id="provider.videoscraper" value="false" />
    <setting id="provider.watchepisodes4" value="true" />
    <setting id="provider.watchfree" value="true" />
    <setting id="provider.watchfree1" value="true" />
    <setting id="provider.watchseries" value="true" />
    <setting id="provider.watchserieshd" value="true" />
    <setting id="provider.wrzcraft" value="true" />
    <setting id="provider.yifyddl" value="false" />
    <setting id="provider.ymovies" value="true" />
    <setting id="provider.ytsam" value="false" />
    <setting id="provider.zoogle" value="false" />
    <setting id="providers.lang" value="English" />
    <setting id="scrapers.timeout.1" value="60" />
    <setting id="show_season0" value="true" />
    <setting id="showunaired" value="true" />
    <setting id="sources.extrainfo" value="true" />
    <setting id="subtitles" value="true" />
    <setting id="subtitles.lang.1" value="Korean" />
    <setting id="subtitles.lang.2" value="English" />
    <setting id="subtitles.utf" value="true" />
    <setting id="tm.user" value="NTRkMzRlYjcwZmUyYzk5MWI5OTcxNTAzN2M1NTIzYjk=" />
    <setting id="torrent.enabled" value="false" />
    <setting id="torrent.identify" value="0" />
    <setting id="torrent.min.seeders" value="10" />
    <setting id="torrent.resolveurl" value="" />
    <setting id="torrent.resolveurl2" value="" />
    <setting id="torrent.sort.them.up" value="true" />
    <setting id="trakt.auth" value="" />
    <setting id="trakt.refresh" value="" />
    <setting id="trakt.token" value="" />
    <setting id="trakt.user" value="" />
    <setting id="tv.download.path" value="" />
    <setting id="tv.widget" value="1" />
    <setting id="tv.widget.alt" value="2" />
    <setting id="tvdb.user" value="7A9F0F57B6E8132D" />
    <setting id="tvsearch" value="the little drummer girl&#x0A;" />
    <setting id="unaired.identify" value="6" />
</settings>
